@import '../../mixins';

.App{
    background-color: palevioletred;
}

.home{
    @include main-style();  

    h1{
        color:#0000ff;
    }

    
      
      .explore-button:hover {
        background-color: pink; /* Lighter pink on hover */
      }

    .landing-page {
        position: relative;
        text-align: center;
      }
      
      .landing-page img {
        width: 100%;
        height: auto;
      }
}