@import '../../mixins';

.home{
    @include main-style();  

    h1{
        color:#0000ff;
    }

    .explore-button{
      border-color: rgb(215, 65, 213);
      background-color: pink;
      color: rgb(215, 65, 213);
      border-style: solid;
      border-width: 2px;
    }
      
      .explore-button:hover {
        border-color: rgb(215, 65, 213);
        background-color: white;
        color: rgb(215, 65, 213);
        border-style: solid;
        border-width: 2px;
        
      }

    .landing-page {
        position: relative;
        text-align: center;
      }
      
      .landing-page img {
        width: 100%;
        height: auto;
      }
}