@import '../../mixins';

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(20,4,48);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color: #fff;
    padding: 3rem;
    @include d-flex(row,space-between,center);

    .logo-img {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
      }

    .brand{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .hamburger{
        display: none;
    }

    .menu{
        flex: 1;
        margin-left: 2rem;

        ul{
            @include d-flex(row,flex-start,center);
            gap: 1rem;

            .close{
                display: none;
            }

            li{
                a{
                    color: #fff;
                }
            }

            .outerBtn{
                display: flex;
                padding: 10px 20px;
                border-radius: 15px; /* Adjust the border-radius to make it more or less round */
                background-color: rgb(160, 17, 77); /* You can change the background color */
                color: pink; /* Text color */
                border: 2px solid pink; /* Border color and thickness */
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                transition: background-color 0.3s, color 0.3s, transform 0.3s;

                border-color: rgb(215, 65, 213);
                background-color: white;
                color: rgb(215, 65, 213);
                border-style: solid;
                border-width: 2px;
                
            }

            .outerBtn:hover{
                background-color: pink;
            }

        }
       
    }
}

@media (max-width: 500px){
    .navbar{
        .hamburger{
            display: block;
            margin-left: 1rem;
            cursor: pointer;
        }
    
        .menu{
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: rgb(20, 4, 48);
            position: fixed;
            left: -100vw;
            top: 0;
            z-index: 3;
            transition: all 0.3s linear;

            &.open{
                left:0;
            }
    
            ul{
                @include d-flex(column,center,center);
                height:100%;
                gap: 3rem;
                position: relative;
                
               .close{
                display: block;
                position: absolute;
                top: 1rem;
                right: 2rem;
                cursor: pointer;
                font-size: 30px;
               }
            }
            

            .testing{
                padding-left: 5%;
            }
           
        }
    }
}